/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{font: inherit;font-size: 100%;	margin: 0;padding: 0;vertical-align: baseline;border: 0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display: block}
blockquote,q{quotes: none}
blockquote:before,blockquote:after,q:before,q:after{content: '';content: none}
table{border-spacing: 0;border-collapse: collapse}

*,*:before,*:after{-webkit-box-sizing: inherit;-moz-box-sizing: inherit;box-sizing: inherit}
html,body{font-size: 16px;height: 100%;box-sizing: border-box}
body{font-family:Arial, sans-serif;font-weight: normal;font-style: normal;line-height: 1.5;position: relative;cursor: auto}
.clearfix:before,.clearfix:after{display: table;content: ' '}
.clearfix:after{clear: both}

/* Grid system */
.row{width: 100%;margin: 0 auto}
.row .row{width: auto;max-width: none;margin: 0 -.375em}
.row:before,.row:after{display: table;content: ' '}
.row:after{clear: both}
.col{position: relative;float: left;width: 100%;padding-right: .375em;padding-left: .375em}
.col + .col:last-child{float: right}
.row.collapse{margin: 0}
.row.collapse > .col{padding: 0}

[class*='-grid-']{position: relative;display: block;margin: 0 -.375rem;padding: 0}
[class*='-grid-']:before,[class*='-grid-']:after{display: table;clear: both;content: ' '}
[class*='-grid-'] > div{position: relative;float: left;width:100%;height: auto;padding: 0 .375rem .75em;}

[class*="-grid-1"] > div:nth-of-type(1n){clear: none}
[class*="-grid-1"] > div:nth-of-type(1n+1){clear: both}
[class*="-grid-2"] > div:nth-of-type(1n){clear: none}
[class*="-grid-2"] > div:nth-of-type(2n+1){clear: both}
[class*="-grid-3"] > div:nth-of-type(1n){clear: none}
[class*="-grid-3"] > div:nth-of-type(3n+1){clear: both}
[class*="-grid-4"] > div:nth-of-type(1n){clear: none}
[class*="-grid-4"] > div:nth-of-type(4n+1){clear: both}
[class*="-grid-5"] > div:nth-of-type(1n){clear: none}
[class*="-grid-5"] > div:nth-of-type(5n+1){clear: both}
[class*="-grid-6"] > div:nth-of-type(1n){clear: none}
[class*="-grid-6"] > div:nth-of-type(6n+1){clear: both}
[class*="-grid-7"] > div:nth-of-type(1n){clear: none}
[class*="-grid-7"] > div:nth-of-type(7n+1){clear: both}
[class*="-grid-8"] > div:nth-of-type(1n){clear: none}
[class*="-grid-8"] > div:nth-of-type(8n+1){clear: both}
[class*="-grid-9"] > div:nth-of-type(1n){clear: none}
[class*="-grid-9"] > div:nth-of-type(9n+1){clear: both}
[class*="-grid-10"] > div:nth-of-type(1n){clear: none}
[class*="-grid-10"] > div:nth-of-type(10n+1){clear: both}
[class*="-grid-11"] > div:nth-of-type(1n){clear: none}
[class*="-grid-11"] > div:nth-of-type(11n+1){clear: both}
[class*="-grid-12"] > div:nth-of-type(1n){clear: none}
[class*="-grid-12"] > div:nth-of-type(12n+1){clear: both}

/* Typography */
a
{
	line-height: inherit;

	text-decoration: none;
	outline: none;

	color: #2196f3;
}
a:hover,
a:focus
{
	outline: none;
	color: #1976d2;
}
a img
{
	border: none;
}

p
{
	font-family: inherit;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.6;

	margin-bottom: 1.25rem;

	text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6
{
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1.4;

	margin-top: .25rem;
	margin-bottom: .5rem;

	color: #000;

	text-rendering: optimizeLegibility;
}

h1
{
	font-size: 2.125rem;
}

h2
{
	font-size: 1.6875rem;
}

h3
{
	font-size: 1.375rem;
}

h4
{
	font-size: 1.125rem;
}

h5
{
	font-size: 1.125rem;
}

h6
{
	font-size: 1rem;
}

hr
{
	clear: both;

	height: 0;
	margin: 1.25rem 0 1.1875rem;

	border: solid #ddd;
	border-width: 1px 0 0;
}

em,
i
{
	font-style: italic;
	line-height: inherit;
}

strong,
b
{
	font-weight: bold;
	line-height: inherit;
}

ul,
ol
{
	font-family: inherit;
	font-size: 1rem;
	line-height: 1.6;

	margin-bottom: 1.25rem;

	list-style: inherit;
	list-style-position: outside;
}

ol
{
	list-style: decimal;
}

ul
{
	margin-left: 1.1rem;
}

ul li ul,
ul li ol
{
	margin-bottom: 0;
	margin-left: .75rem;
}

ol
{
	margin-left: 1.4rem;
}
ol li ul,
ol li ol
{
	margin-bottom: 0;
	margin-left: .75rem;
}
img
{
	display: inline-block;
	vertical-align: baseline;
	max-width:100%;
	height:auto;
}
.text-center
{
	text-align: center;
}
.text-left
{
	text-align: left;
}
.text-right
{
	text-align: right;
}
.text-justify
{
	text-align: justify;
}
.uppercase
{
	text-transform: uppercase;
}
.capitalize
{
	text-transform: capitalize;
}

/* Forms */
input[type='text'],
input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='color'],
textarea
{
	font-family: inherit;
	font-size: .875rem;

	display: block;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 2.25rem;
	margin: 0 0 .75rem 0;
	padding: .5625rem;

	-webkit-transition: border-color .15s linear, background .15s linear;
	-moz-transition: border-color .15s linear, background .15s linear;
	-ms-transition: border-color .15s linear, background .15s linear;
	-o-transition: border-color .15s linear, background .15s linear;
	transition: border-color .15s linear, background .15s linear;

	color: rgba(0, 0, 0, .75);
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
	border-radius: 0;
	background-color: #fff;
	/*box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);*/

	-webkit-appearance: none;
	-moz-appearance: none;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='email']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='time']:focus,
input[type='url']:focus,
input[type='color']:focus,
textarea:focus
{
	border-color: #999;
	outline: none;
	background: #fff;
}
select
{
	font-family: inherit;
	font-size: .875rem;
	line-height: normal;

	display: block;

	width:100%;
	height: 2.25rem;
	padding: .4125rem;

	color: rgba(0, 0, 0, .75);
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
	border-radius: 0;
	border-radius: 0;
	background: #fff;
}
select::-ms-expand
{
	display: none;
}
textarea
{
	min-height: 64px;
}
label
{
	color: #4d4d4d;
	cursor: pointer;
	display: block;
	font-size: 0.875rem;
	font-weight: normal;
	line-height: 1.5;
	margin-bottom: 0;
}

input[type='file'],
input[type='checkbox'],
input[type='radio'],
select
{
	margin: 0 0 .75rem 0;
}

input[type='checkbox'] + label,
input[type='radio'] + label
{
	display: inline-block;

	margin-right: 1rem;
	margin-bottom: 0;
	margin-left: .375rem;

	vertical-align: baseline;
}

input[type='file']
{
	width: 100%;
}

/* Button */
button, .button {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	border-style: solid;
	border-width: 0;
	cursor: pointer;
	font-family: Arial, sans-serif;
	font-weight: normal;
	line-height: 2.25rem;
	height: 2.25rem;
	margin: 0 0 1.25rem;
	position: relative;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 0 1rem;
	font-size: .875rem;
	background-color: #2196f3;
	border-color: #1976d2;
	color: #FFFFFF;
	transition: background-color 300ms ease-out; 
}
button:hover, .button:hover {
	background-color:#1e88e5;
	color:#fff;
}
button:focus, .button:focus{
	background-color:#1976d2;
	color:#fff;
}
button.large, .button.large {
	line-height: 3rem;
	height: 3rem;
	padding:0 1.75rem;
	font-size:1rem;
}
button.xlarge, .button.xlarge {
	line-height: 4rem;
	height: 4rem;
	padding:0 2.25rem;
	font-size:1rem;
}
button.radius, .button.radius {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
}
button.round, .button.round{
	-moz-border-radius:1000px;
	-webkit-border-radius:1000px;
	-ms-border-radius:1000px;
	-o-border-radius:1000px;
	border-radius:1000px;
}
button.expand, .button.expand{
	width:100%;
}
button.success, .button.success {
	background-color:#4caf50;
	border-color:#388e3c;
}
button.success:hover, .button.success:hover {
	background-color:#43a047;
}
button.success:focus, .button.success:focus {
	background:#388e3c;
}
button.secondary, .button.secondary {
	background-color:#9e9e9e;
	border-color:#616161;
}
button.secondary:hover, .button.secondary:hover {
	background-color:#757575;
}
button.secondary:focus, .button.secondary:focus {
	background-color:#616161;
}
button.alert, .button.alert {
	background-color:#ff5722;
	border-color:#e64a19;
}
button.alert:hover, .button.alert:hover {
	background-color:#f4511e;
}
button.alert:focus, .button.alert:focus {
	background-color:#e64a19;
}
button.info, .button.info {
	background-color:#00bcd4;
	border-color:#0097a7;
}
button.info:hover, .button.info:hover {
	background-color:#00acc1;
}
button.info:focus, .button.info:focus {
	background-color:#0097a7;
}
button.disabled, .button.disabled {
	background-color:#2196f3;
	border-color:#2196f3;
	cursor:default;
	opacity: 0.7;
}

/* Responsive */
@media only screen
{
	.sm-1 {width: 8.33333%}
	.sm-2 {width: 16.66666%}
	.sm-3 {width: 25%}
	.sm-4 {width: 33.33333%}
	.sm-5 {width: 41.66666%}
	.sm-6 {width: 50%}
	.sm-7 {width: 58.33333%}
	.sm-8 {width: 66.66666%}
	.sm-9 {width: 75%}
	.sm-10 {width: 83.33333%}
	.sm-11 {width: 91.66666%}
	.sm-12 {width: 100%}

	.sm-grid-1 > div {width: 100%}
	.sm-grid-2 > div {width: 50%}
	.sm-grid-3 > div {width: 33.33333%}
	.sm-grid-4 > div {width: 25%}
	.sm-grid-5 > div {width: 20%}
	.sm-grid-6 > div {width: 16.66666%}
	.sm-grid-7 > div {width: 14.28571%}
	.sm-grid-8 > div {width: 12.5%}
	.sm-grid-9 > div {width: 11.11111%}
	.sm-grid-10 > div {width: 10%}
	.sm-grid-11 > div {width: 9.09091%}
	.sm-grid-12 > div {width: 8.33333%}

	.show-on-small {display: inherit !important;}
	.hide-on-small {display: none !important;}
}

@media only screen and (min-width: 641px)
{
	.md-1 {width: 8.33333%}
	.md-2 {width: 16.66666%}
	.md-3 {width: 25%}
	.md-4 {width: 33.33333%}
	.md-5 {width: 41.66666%}
	.md-6 {width: 50%}
	.md-7 {width: 58.33333%}
	.md-8 {width: 66.66666%}
	.md-9 {width: 75%}
	.md-10 {width: 83.33333%}
	.md-11 {width: 91.66666%}
	.md-12 {width: 100%}

	.md-grid-1 > div {width: 100%}
	.md-grid-2 > div {width: 50%}
	.md-grid-3 > div {width: 33.33333%}
	.md-grid-4 > div {width: 25%}
	.md-grid-5 > div {width: 20%}
	.md-grid-6 > div {width: 16.66666%}
	.md-grid-7 > div {width: 14.28571%}
	.md-grid-8 > div {width: 12.5%}
	.md-grid-9 > div {width: 11.11111%}
	.md-grid-10 > div {width: 10%}
	.md-grid-11 > div {width: 9.09091%}
	.md-grid-12 > div {width: 8.33333%}

	.show-on-medium, .hide-on-small {display: inherit !important;}
	.hide-on-medium {display: none !important;}
}

@media only screen and (min-width: 1025px)
{
	.lg-1 {width: 8.33333%}
	.lg-2 {width: 16.66666%}
	.lg-3 {width: 25%}
	.lg-4 {width: 33.33333%}
	.lg-5 {width: 41.66666%}
	.lg-6 {width: 50%}
	.lg-7 {width: 58.33333%}
	.lg-8 {width: 66.66666%}
	.lg-9 {width: 75%}
	.lg-10 {width: 83.33333%}
	.lg-11 {width: 91.66666%}
	.lg-12 {width: 100%}

	.lg-grid-1 > div {width: 100%}
	.lg-grid-2 > div {width: 50%}
	.lg-grid-3 > div {width: 33.33333%}
	.lg-grid-4 > div {width: 25%}
	.lg-grid-5 > div {width: 20%}
	.lg-grid-6 > div {width: 16.66666%}
	.lg-grid-7 > div {width: 14.28571%}
	.lg-grid-8 > div {width: 12.5%}
	.lg-grid-9 > div {width: 11.11111%}
	.lg-grid-10 > div {width: 10%}
	.lg-grid-11 > div {width: 9.09091%}
	.lg-grid-12 > div {width: 8.33333%}

	.show-on-large, .hide-on-small, .hide-on-medium {display: inherit !important;}
	.hide-on-large {display: none !important;}
}